@using Car.Shared
@using Car.UI.Services
@inject ICustomerService CustomerService
@inject NavigationManager Navigation

<div class="modal fade" id="customerSelectModal" tabindex="-1">
	<div class="modal-dialog justify-content-center modal-fullscreen modal-dialog-centered">
		<div class="modal-content w-75 h-75">
			<div class="modal-header">
				<h5 class="modal-title" id="customerSelectModalLabel">Select the customer</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				@if (Customers == null)
				{
					<p>Loading...</p>
				}
				else
				{
					<CustomerList Customers="Customers" EnableSearch="true">
						<CustomerSelectedButtonTemplate>
							<button @onclick="@(() => CustomerSelected(context))" data-bs-dismiss="modal" class="btn btn-primary">Select</button>
						</CustomerSelectedButtonTemplate>
					</CustomerList>
				}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />

	<div class="form-group row mb-3">
		<label class="col-md-2 col-form-label">Customer: <span class="text-danger" /></label>
		<div class="col-md-10">
			<div class="input-group">
				<div class="input-group-prepend">
					<button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#customerSelectModal">Select</button>
				</div>
				<input readonly value="@(SelectedCustomer != null ? $"{SelectedCustomer.Properties.Name} ({SelectedCustomer.Properties.Email})" : "")" type="text" class="form-control" placeholder="None" />
				<div class="input-group-append">
					<button @onclick="@(() => NavigateToCustomer(SelectedCustomer.Id))" disabled="@(SelectedCustomer == null)" class="btn btn-outline-secondary">Details</button>
				</div>
			</div>
			<ValidationMessage For="@(() => Work.CustomerId)" />
		</div>
	</div>
	<div class="form-group row mb-3">
		<label class="col-md-2 col-form-label">License Plate: <span class="text-danger" /></label>
		<div class="col-md-10">
			<InputText class="form-control" @bind-Value="Work.LicensePlate" Placeholder="License Plate" />
			<ValidationMessage For="@(() => Work.LicensePlate)" />
		</div>
	</div>
	<div class="form-group row mb-3">
		<label class="col-md-2 col-form-label">Manufacturing Year: <span class="text-danger" /></label>
		<div class="col-md-10">
			<InputNumber TValue="int"
						 @bind-Value="Work.ManufacturingYear"
						 class="form-control" />
			<ValidationMessage For="@(() => Work.ManufacturingYear)" />
		</div>
	</div>
	<div class="mb-3">
		<label class="form-label">Category</label>
		<InputSelect @bind-Value="Work.Category" class="form-select">
			<option value="@WorkCategory.Body">Body</option>
			<option value="@WorkCategory.Engine">Engine</option>
			<option value="@WorkCategory.RunningGear">Running Gear</option>
			<option value="@WorkCategory.Brakes">Brakes</option>
		</InputSelect>
		<ValidationMessage For="() => Work.Category" />
	</div>
	<div class="mb-3">
		<label class="form-label">Description</label>
		<InputTextArea Placeholder="Description" rows="3"
					   @bind-Value="@Work.Description"
					   class="form-control" />
		<ValidationMessage For="() => Work.Description" />
	</div>
	<div class="mb-3">
		<label class="form-label">Severity</label>
		<InputNumber TValue="int"
					 @bind-Value="@Work.Severity"
					 class="form-control" />
		<ValidationMessage For="() => Work.Severity" />
	</div>
	<div class="mb-3">
		<label class="form-label">Status</label>
		<InputSelect @bind-Value="Work.Status" class="form-select">
			<option disabled="@(workStatusInitial > WorkStatus.NotStarted)" value="@WorkStatus.NotStarted">Not Started</option>
			<option disabled="@(workStatusInitial > WorkStatus.InProgress)" value="@WorkStatus.InProgress">In Progress</option>
			<option disabled="@(workStatusInitial > WorkStatus.Completed)" value="@WorkStatus.Completed">Completed</option>
		</InputSelect>
		<ValidationMessage For="() => Work.Status" />
	</div>
	<div class="mb-3">
		<button class="w-100 btn btn-primary" type="submit">@ButtonText</button>
	</div>
</EditForm>



@code {
	[Parameter]
	public WorkPropertiesDTO Work { get; set; }

	[Parameter]
	public Func<Task> OnValidSubmit { get; set; }

	[Parameter]
	public string ButtonText { get; set; }

	[Parameter]
	public CustomerDTO? SelectedCustomer { get; set; }

	private EditContext editContext;
	private ValidationMessageStore validationMessages;

	private IList<CustomerGetDTO> Customers { get; set; }

	private WorkStatus workStatusInitial;

	protected override async Task OnInitializedAsync()
	{
		editContext = new(Work);
		validationMessages = new(editContext);

		editContext.OnFieldChanged += (s, e) =>
		{
			FieldIdentifier customerIdField = editContext.Field(nameof(Work.CustomerId));
			if (e.FieldIdentifier.Equals(customerIdField))
				CustomValidateCustomerIdField();

			FieldIdentifier statusField = editContext.Field(nameof(Work.Status));
			if(e.FieldIdentifier.Equals(statusField))
				CustomValidateStatusField();
		};

		editContext.OnValidationRequested += (s, e) =>
		{
			CustomValidateCustomerIdField();
			CustomValidateStatusField();
		};

		workStatusInitial = Work.Status;
		Customers = await CustomerService.GetAllCustomersAsync();
	}

	private async Task CustomerSelected(CustomerGetDTO customer)
	{
		SelectedCustomer = customer.Customer;
		Work.CustomerId = customer.Customer.Id;
		editContext.NotifyFieldChanged(editContext.Field(nameof(Work.CustomerId)));
		StateHasChanged();
	}

	private async Task NavigateToCustomer(Guid id)
	{
		Navigation.NavigateTo($"/customer/{id}");
	}

	private void CustomValidateCustomerIdField()
	{
		FieldIdentifier customerIdField = editContext.Field(nameof(Work.CustomerId));
		validationMessages.Clear(customerIdField);
		if (Work.CustomerId == Guid.Empty)
			validationMessages.Add(customerIdField, "Customer is required.");
	}

	private void CustomValidateStatusField()
	{
		FieldIdentifier statusField = editContext.Field(nameof(Work.Status));
		validationMessages.Clear(statusField);
		if (Work.Status < workStatusInitial)
			validationMessages.Add(statusField, $"Status cannot be lower than origial.");
	}
}