@using Car.Shared
@using Car.UI.Services
@inject IWorkService WorkService

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" width="1%">#</th>
                <th scope="col" class="col-1">Customer Name</th>
                <th scope="col" class="col-1">License Plate</th>
                <th scope="col" class="col-1">Manufacturing Date</th>
                <th scope="col" class="col-1">Category</th>
                <th scope="col" class="col-4">Description</th>
                <th scope="col" class="col-1">Severity</th>
                <th scope="col" class="col-1">Status</th>
                <th scope="col" width="1%"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var work in Works)
            {
                <tr>
                    <td scope="row">@i</td>
                    <td>@work.Customer.Properties.Name</td>
                    <td>@work.Work.Properties.LicensePlate</td>
                    <td>@work.Work.Properties.ManufacturingYear</td>
                    <td>@work.Work.Properties.Category</td>
                    <td style="max-width: 1px">
                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            @work.Work.Properties.Description
                        </div>
                    </td>
                    <td>@work.Work.Properties.Severity</td>
                    <td>@work.Work.Properties.Status</td>
                    <td><a href="/work/@work.Work.Id" class="btn btn-primary">Details</a></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public IList<WorkGetDTO> Works { get; set; }
}
